@font-face {
    font-family: "Andriod Eulicid";
    src: url("../font/Eulicid/Euclid\ Circular\ A\ Regular.ttf");
}

body{
    font-family: "Andriod Eulicid";
    overflow-x: hidden;
}

.login{
    background-color: rgb(205, 228, 255);
    color: #0D6EFD;
}

.login:hover{
    background-color: #0D6EFD;
    color: #f1f1f1;
}

.fs-60{font-size: 56px;}
.hero{font-size: 20px;}
div.text-width{width: 10em;}  

.details{
    height: 166px;
    overflow: hidden;
}

.modal-details{
    height: 410px;
    overflow-y: scroll;
}

.modal-details::-webkit-scrollbar{
    width: 5px;
    margin-inline-start: 10px;
}

.modal-details::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
.modal-details::-webkit-scrollbar-thumb {
    background: #76adff; 
    border-radius: 15px;
}

li{
    list-style: none;
}