body{
    background-image: url(./../images/background\ image.png);
    background-color: rgba(0, 0, 0, 0.158);
    background-attachment: fixed;
}

/* CARD FOR SIGN UP 1*/
.card{
    transition: 0.5s ease-out;
}

a.carrd{
    transform: translate(-50%, 125%);
    width: 40%;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.card:hover {
    border-color: #0D6EFD;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.card:hover a.carrd {
    transform: translate(-50%, 50%);
    opacity: 1;
}

/* FORM */

div.signupform{
    background-color: #fff;
}

div.entry{
    border-bottom: 1px solid #E6E9EC;
}
input{
    outline: none;
    font-size: 15px;
}

.form-label{
    font-size: 12px;
}

.form-select:focus{
    box-shadow: none;
}